* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://s3-alpha-sig.figma.com/img/2898/d117/19b9bec76dc4f4653eb05135270b836e?Expires=1682294400&Signature=eQ4kqm68z-5qPCt4J1Vq0PjG8F0kclK0yb3m0tg6g7VididZMrhMpqzvqu9zJPwjsgxNlGKTZ~WGwkvrcvXsGi~Qd3omCMFj~IevKKkdb9utOdX6fBV8a65D0MmL4Z9jXWW5TWTYXlzexjp4Mc8HF-2zKz7EdK0JQP33MErqGRqXvjZ0u~P9aGRz6AayVyGPUVsrK7WHvZrJ8ppaSMxa-acYqw2ysiKWjDtqMhnwYy3DKaEOYtP1xqyTQ95Ee32D3YZpuoLxp~kHgCymh3TlLf0-BIZRTQxUMoz03sV3YWFcyBwlHN8jOZx~s6e8nHzEHTsF1hCBP2wDlWyf9LgZVg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
}

#BodyText {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 450px;
    font-size: 30px;
    font-family: 'Anek Gurmukhi', sans-serif;

}

#cuestionario {
    display: flex;
    height: 30px;
    width: 230px;
    justify-content: center;
    align-items: center;
    background-color: #00C030;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 1em;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto', sans-serif;

}

#cuestionario:hover {
    background-color: white;
    color: black;
}

nav {
    display: flex;
    height: 50px;
    background-color: #14181C;
    align-items: center;
}

nav a:nth-child(1) {
    color: white;
    margin: 5em 5em;
    font-size: 35px;
    font-family: 'Anek Gurmukhi', sans-serif;
    text-decoration: none;
}

nav a:nth-child(2),
nav a:nth-child(3),
nav a:nth-child(4) {
    color: white;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: 3em;
}

#buttons {
    display: flex;
    margin-left: 10em;
}

#login {
    display: flex;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: #00C030;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 1em;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}


#login:hover {
    background-color: white;
    color: black;
}

#register {
    display: flex;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: #00C030;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 1em;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto', sans-serif;

}

#register:hover {
    background-color: white;
    color: black;

}


@media screen and (min-width: 768px) {
    nav {
        justify-content: space-between;
    }

    nav a:nth-child(1) {
        margin: 0 5em 0 1em;
    }

    nav a:nth-child(2),
    nav a:nth-child(3),
    nav a:nth-child(4) {
        margin: 0 1em;
    }

    #buttons {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
    }

    nav a:nth-child(1) {
        margin: 1em;
        font-size: 25px;
    }

    nav a:nth-child(n+2) {
        margin: 0.5em;
        font-size: 18px;
    }

    #buttons {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #login,
    #register {
        width: 100%;
        margin: 0.5em;
    }
}