.image-icon3 {
    position: absolute;
    top: 65px;
    left: 0;
    width: 1928px;
    height: 1015px;
    object-fit: cover;
  }
  .mm2,
  .rectangle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 65px;
  }
  .mm2 {
    top: 14px;
    left: 186px;
    font-size: var(--font-size-28xl);
    letter-spacing: 1px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 90px;
    height: 51px;
  }
  .completa-nuestro-cuestionario,
  .no-sabes-qu {
    position: absolute;
    top: 664px;
    left: 707px;
    line-height: 48px;
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 506px;
  }
  .completa-nuestro-cuestionario {
    top: 712px;
    left: 617px;
    width: 677px;
  }
  .rectangle3 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-10xs);
    background-color: var(--primario);
    width: 211px;
    height: 36px;
  }
  .iniciar-cuestionario {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-base);
    letter-spacing: 1.2px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: var(--font-anek-gurmukhi);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 194.06px;
  }
  .group-button,
  .iniciar-cuestionario-wrapper {
    position: absolute;
    top: 13px;
    left: 8.47px;
    width: 194.06px;
    height: 16px;
  }
  .group-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 819px;
    left: 854px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 211px;
    height: 36px;
  }
  .group-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 65px;
  }
  .acerca-de1,
  .pelculas1,
  .series1 {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    line-height: 17px;
    text-transform: uppercase;
    color: inherit;
    display: flex;
    align-items: center;
    width: 178.67px;
    height: 12px;
  }
  .acerca-de1,
  .series1 {
    left: 349.33px;
    width: 196px;
  }
  .series1 {
    left: 204px;
    width: 126.67px;
  }
  .pelculas-group,
  .rectangle4 {
    position: absolute;
    top: 25px;
    left: 702.67px;
    width: 545.33px;
    height: 12px;
  }
  .rectangle4 {
    top: 0;
    left: 0;
    border-radius: var(--br-10xs);
    background-color: var(--primario);
    width: 106.67px;
    height: 36px;
  }
  .logout,
  .logout-wrapper {
    position: absolute;
    width: 98.1px;
  }
  .logout {
    top: 0;
    left: 0;
    font-size: var(--font-size-base);
    letter-spacing: 1.2px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: var(--font-anek-gurmukhi);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
  }
  .logout-wrapper {
    top: 13px;
    left: 4.28px;
    height: 16px;
  }
  .rectangle-parent1,
  .rectangle-parent2 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 14px;
    left: 1636px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 106.67px;
    height: 36px;
  }
  .rectangle-parent2 {
    left: 1496px;
  }
  .vector-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 65px;
    font-size: var(--font-size-xl);
    font-family: var(--font-roboto);
    background-color: var(--fondo-ocsuro);
  }
  .logovectorizado-v1-page-0001-r-icon {
    position: absolute;
    top: 12px;
    left: 189px;
    width: 70px;
    height: 41px;
    object-fit: cover;
  }
  .home {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--letras);
    font-family: var(--font-anek-gurmukhi);
  }
  