@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi&display=swap');


.navOculto{
    display: block;
}

.show {
    display: block;
}

#menu {
    display: none;
}


html {
  scroll-behavior: smooth;
  font-family: var(--font-anek-gurmukhi);
}

.menu {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 5px;
}

.menu-item {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #14181c;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: white;
  font-size: 18px;

}
.submenu {
  display: none;
  position: absolute;
  top: 118%;
  left: 0;

  width: 200px;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu li {
  display: block;

}


.menu-item {
  position: relative;
  margin-right: 20px;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: #ffffff59;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.show-submenu .submenu {
  display: block;
}



#logo{
    width: 55px;
    height: auto;
}
body {
    background-image: url("https://i.postimg.cc/mZdC3dLB/fondo.png");
    background-size: cover;
    height: 100vh;
  }

.navbar {
  background-color: #050717 !important;
}
.logout1 {
    top: -5px;
    left: 6px;
  font-size: var(--font-size-base);
  letter-spacing: 1.2px;
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--font-anek-gurmukhi);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}


nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: block;
}

.logout-container, .logout1 {
  position: absolute;
  width: 8.26rem;
}
.section {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 40pt;
  color: white;
}

.nav-link {
  color: white !important;
}

.row {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(243px, 1fr));
  justify-content: center;
  gap: 16px;
}

.col-lg-3, .col-md-4, .col-sm-6 {
  padding: 15px;
  box-sizing: border-box;
  flex: 0 0 22.3%;
    max-width: 291px;
}

.d-flex{
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  gap: 2px;
}


.card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 250px;
    height: auto;
    object-fit: cover;
    min-width: 250px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 1.4;
  color: #afafaf;
  width: 85%;
  text-align: justify;
}

.card-hover-text:hover {
  color: #000;
}

.pelculas {
  left: 0;
  width: 8.38rem;
}

.series {
  left: 9.56rem;
  width: 5.94rem;
}
.pelculas-parent {
  position: relative;
  width: 25.56rem;
  height: 0.75rem;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
}


.logo_test img {
  height: 7vh;
  margin: 30px;
}

#contenedorCards {
  justify-content: space-around;
  margin: 50px;
}

.card {
  margin-bottom: 20px;
  background: transparent !important;
  color: white;
}

.card:hover {
  cursor:pointer;
}

.card-title,
.card-text {
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {
  .section {
    font-size:40px;
  }
  .card-title {
    font-size: 20px;
  }
}

.btn{

  background-color:  var(--primario);
  color: white;
  width: 4.98rem;
  height: 2.25rem;
  border-radius: var(--br-10xs);
  border: none;
  cursor: pointer;
}

.form-control{
  border-radius: var(--br-10xs);
  border: none;
}

.card-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  overflow: auto;
}

.card-hover-text::-webkit-scrollbar {
  -webkit-appearance: none;
}

.card-body:hover .card-hover-text {
  opacity: 1;
}

#puntuacion{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    font-weight: bolder;
    width: 40px;
}

.green {
background-color: green;
}

.orange {
    background-color: orange;
}
.red {
    background-color: red;
}

.footer {
  height: 10vh;
  background-color:rgba(0, 0, 0, 0.7);
  opacity:70%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
    gap: 20px;
}

.footer p {
  font-size: small;
  color:white;
}


.logo-footer{
  width: 30px;
}

.copy{
  display: flex;
  justify-content: center;
}
.bi {
  color: white;
}


.acerca-de,
.mm,
.pelculas,
.series, .cuestionario {
  letter-spacing: 1px;
  line-height: 1.06rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.cuestionario{
    left: -1.44rem;
}
.mm {
  position: relative;
  font-weight: 800;
  flex-shrink: 0;
}
.acerca-de,
.pelculas,
.series, .cuestionario {
  text-decoration: none;
  position: absolute;
  top: 0;
  color: inherit;
  height: 0.75rem;
}

.logout {
    top: -5px;
    left: 6px;
    font-size: var(--font-size-base);
    letter-spacing: 1.2px;
    line-height: 1rem;
    text-transform: uppercase;
    font-family: var(--font-anek-gurmukhi);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
}
.logout, .logout-wrapper {
    position: absolute;
    width: 8.93rem;
}
.logout-wrapper {
    top: 0.81rem
rem
;
    left: 0.39rem;
    height: 1rem;
}
.pelculas {
  left: 0;
  width: 8.38rem;
}
.acerca-de,
.series {
  left: 16.38rem;
  width: 9.19rem;
}
.series {
  left: 9.56rem;
  width: 5.94rem;
}

.iniciar-sesin,
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle {
  border-radius: var(--br-10xs);
  background-color: var(--primario);
  width: 9.71rem;
  height: 2.25rem;
}
.iniciar-sesin {
  font-size: var(--font-size-base);
  letter-spacing: 1.2px;
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--font-anek-gurmukhi);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 8.93rem;
}
.iniciar-sesin-wrapper {
  position: absolute;
  top: 0.81rem;
  left: 0.39rem;
  width: 8.93rem;
  height: 1rem;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 9.71rem;
  height: 2.25rem;
}
.rectangle-parent,
.rectangle1,
.registrarse {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle1 {
  border-radius: var(--br-10xs);
  background-color: var(--primario);
  width: 8.98rem;
  height: 2.25rem;
}
.registrarse {
  font-size: var(--font-size-base);
  letter-spacing: 1.2px;
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--font-anek-gurmukhi);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 8.26rem;
}
.registrarse-wrapper {
  position: absolute;
  top: 0.81rem;
  left: 0.36rem;
  width: 8.26rem;
  height: 1rem;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 11.71rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 8.98rem;
  height: 2.25rem;
}
.group-parent,
.image-3-icon {
  position: relative;
  width: 20.69rem;
  height: 2.25rem;
  flex-shrink: 0;
}
.image-3-icon {
  width: 3.63rem;
  height: 3.13rem;
  object-fit: cover;
}
.image-3-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 4.88rem;
  height: 4.38rem;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mm-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 1.25rem var(--padding-31xl);
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper,
.home-inner {
  height: 4.06rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-wrapper {
  flex: 1;
  align-items: center;
}
.home-inner {
  align-self: stretch;
  background-color: #14181c;
  flex-shrink: 0;
  align-items: flex-start;
}
.completa-nuestro-cuestionario,
.no-sabes-qu {
  position: relative;
  line-height: 3rem;
}
.completa-nuestro-cuestionario {
  display: inline-block;
  width: 42.31rem;
}
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--primario);
  width: 13.19rem;
  height: 2.25rem;
}
.iniciar-cuestionario {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1.2px;
  line-height: 1rem;
  text-transform: uppercase;
  display: inline-block;
  width: 12.13rem;
  text-decoration: none;
  color: white;
}
.iniciar-cuestionario-wrapper {
  position: absolute;
  top: 0.81rem;
  left: 0.53rem;
  width: 12.13rem;
  height: 1rem;
}
.rectangle-container {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 13.19rem;
  height: 2.25rem;
  flex-shrink: 0;
  font-size: var(--font-size-base);
}
.home,
.home-child,
.no-sabes-qu-pelcula-ver-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-sabes-qu-pelcula-ver-parent {
  align-self: stretch;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-31xl);
  justify-content: center;
  gap: 0.63rem;
}
.home,
.home-child {
  overflow: hidden;
}
.home-child {
  align-self: stretch;
  height: 42.5rem;
  flex-shrink: 0;
  padding: var(--padding-31xl) 0 0;
  box-sizing: border-box;
  justify-content: flex-end;
  background-image: url(https://i.postimg.cc/xC8QXtqC/19b9bec76dc4f4653eb05135270b836e-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}


.home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  font-size: 2.94rem;
  color: var(--color-gainsboro);
  font-family: var(--font-anek-gurmukhi);
}



@media screen and (max-width: 960px) {
  .acerca-de,
  .group-parent,
  .pelculas,
  .pelculas-parent,
  .rectangle-group,
  .rectangle-parent,
  .series {
    display: none;
  }
  .image-3-icon {
    display: flex;
  }
  .image-3-wrapper {
    display: flex;
    flex-direction: row;
  }
}


.notificacion {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  width: 470px;
    height: 121px;
}

.notificacion a{
    color: #298909;
}
.notificacion p {
  font-size: 22px;
}
.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.aC{

  color: black;
}

.navOculto {
  display: none;
  background-color: white;
  padding: 10px;
  margin-right: 10px;
}

.show {
  display: block;
}

#menu {
  display: none;
}

.btnOculto{
  background-color: var(--primario);
  color: white;
  border-radius: var(--br-10xs);
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .navOculto {
    display: block;
  }

  .navOculto a{
    color: black;
  }
  
  .show {
    display: none;
  }
  
  #menu.show {
    display: block;
  }
  
}
