.mm,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 65px;
}
.mm {
  top: 14px;
  left: 186px;
  font-size: var(--font-size-28xl);
  letter-spacing: 1px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: left;
  display: flex;
  align-items: center;
  width: 90px;
  height: 51px;
}
.acerca-de,
.nav-icon,
.pelculas,
.series {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 65px;
}
.acerca-de,
.pelculas,
.series {
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 17px;
  text-transform: uppercase;
  color: inherit;
  display: flex;
  align-items: center;
  width: 178.67px;
  height: 12px;
}
.acerca-de,
.series {
  left: 349.33px;
  width: 196px;
}
.series {
  left: 204px;
  width: 126.67px;
}
.mm1,
.pelculas-parent {
  position: absolute;
  top: 25px;
  left: 702.67px;
  width: 545.33px;
  height: 12px;
}
.mm1 {
  text-decoration: none;
  top: 29px;
  left: 248px;
  font-size: var(--font-size-28xl);
  letter-spacing: 1px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--font-anek-gurmukhi);
  color: inherit;
  display: flex;
  align-items: center;
  width: 119px;
  height: 18px;
}
.perfil1,
.rectangle1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.rectangle1 {
  background-color: var(--primario);
  top: 0;
  left: 0;
  border-radius: 3px;
  width: 106.67px;
  height: 36px;
}
.perfil1 {
  background-color: transparent;
  top: 13px;
  left: 4.28px;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: var(--font-anek-gurmukhi);
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 98.1px;
}
.rectangle-group {
  position: absolute;
  top: 14px;
  left: 1636px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 106.67px;
  height: 36px;
}
.nav-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 65px;
  text-align: left;
  font-family: var(--font-roboto);
}
.description {
  position: absolute;
  top: 458px;
  left: 360px;
  font-size: 25px;
  font-weight: 600;
  display: inline-block;
  width: 166px;
}
.correo-electrnico {
  font-weight: 600;
  font-family: var(--font-anek-gurmukhi);
}
.correo-electrnico-ngomezcep {
  margin: 0;
}
.ubicacin-barcelona {
  margin: 0;
  font-weight: 600;
}
.description1 {
  position: absolute;
  top: 270px;
  left: 881px;
  font-size: 18px;
  text-align: left;
  display: inline-block;
  width: 406px;
  height: 77px;
}
.image-icon,
.image-icon1,
.image-icon2 {
  position: absolute;
  top: 499px;
  left: 367px;
  border-radius: var(--br-9xs);
  width: 139px;
  height: 215px;
  object-fit: cover;
}
.image-icon1,
.image-icon2 {
  left: 522px;
}
.image-icon2 {
  left: 677px;
}
.description2 {
  position: absolute;
  top: 237px;
  left: 851px;
  font-weight: 600;
  display: inline-block;
  width: 199px;
}
.estresado-inner,
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.instance-child {
  border-radius: var(--br-8xs);
  background-color: var(--color-lavender);
}
.estresado-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.boton {
  position: absolute;
  height: 47.5%;
  width: 89.32%;
  top: 25%;
  left: 4.37%;
  display: inline-block;
}
.estresado {
  position: absolute;
  top: 294px;
  left: 1414px;
  width: 150px;
  height: 71px;
  color: var(--color-gray-100);
}
.instance-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lavender);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
}
.estresado1 {
  position: absolute;
  top: 237px;
  left: 1414px;
  width: 150px;
  height: 40px;
  color: var(--color-gray-100);
}
.profile-icon {
  position: absolute;
  top: 209.5px;
  left: 518.5px;
  border-radius: 70px;
  width: 141px;
  height: 141px;
  overflow: hidden;
  object-fit: cover;
}
.perfil {
  position: relative;
  background-color: var(--fondo-ocsuro);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--letras);
  font-family: var(--font-anek-gurmukhi);
}

#logout-form {
    position: absolute;
    top: 0;
    right: 0;
}