* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
}


nav {
    display: flex;
    height: 50px;
    background-color: #14181C;
    align-items: center;
}

nav a:nth-child(1) {
    color: white;
    margin: 5em 5em;
    font-size: 35px;
    font-family: 'Anek Gurmukhi', sans-serif;
    text-decoration: none;
}

nav a:nth-child(2),
nav a:nth-child(3),
nav a:nth-child(4) {
    color: white;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: 3em;
}

#logout{
    display: flex;
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background-color: #00C030;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 1em;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    nav {
        justify-content: flex-start;
    }

    nav a:nth-child(1) {
        margin: 0 5em 0 1em;
    }

    nav a:nth-child(2),
    nav a:nth-child(3),
    nav a:nth-child(4) {
        margin: 0 5em;
    }

    #buttons {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
    }

    nav a:nth-child(1) {
        margin: 1em;
        font-size: 25px;
    }

    nav a:nth-child(n+2) {
        margin: 0.5em;
        font-size: 18px;
    }

}
