.mm {
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  line-height: 1.06rem;
  text-transform: uppercase;
  font-weight: 800;
  color: inherit;
  display: flex;
  align-items: center;
  width: 5.75rem;
  height: 3.19rem;
  flex-shrink: 0;
}
.mm-wrapper {
  width: 89.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(44, 52, 64, 0.85);
  width: 33.38rem;
  height: 39.5rem;
}
.regstrate {
  position: absolute;
  top: 1.68rem;
  left: 6.75rem;
  font-size: var(--font-size-31xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--letras);
  text-align: left;
  display: inline-block;
  width: 21rem;
  height: 2.79rem;
}
.group-item {
  border: 0;
  background-color: var(--fondo-formulario);
  position: absolute;
  top: 6.26rem;
  left: 3.06rem;
  border-radius: var(--br-8xs);
  width: 27.25rem;
  height: 2.24rem;
}
.correo-electrnico {
  position: absolute;
  top: 6.93rem;
  left: 3.56rem;
  font-size: var(--font-size-xl);
  font-family: var(--font-anek-gurmukhi);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 9.63rem;
  height: 1.34rem;
}
.acepto-la {
  color: var(--color-lightslategray);
}
.poltica-de-privacidad {
  color: var(--color-white);
}
.acepto-la-poltica-de-privacid {
  margin: 0;
}
.tratamiento-de-mis {
  margin: 0;
  color: var(--color-lightslategray);
}
.acepto-la-poltica-container {
  position: absolute;
  top: 26.38rem;
  left: 5.13rem;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-anek-gurmukhi);
  text-align: left;
  display: inline-block;
  width: 21.25rem;
  height: 3.18rem;
}
.opciones {
  position: absolute;
  top: 27.25rem;
  left: 3.06rem;
  border-radius: var(--br-5xs);
  background-color: var(--fondo-formulario);
  width: 1.5rem;
  height: 1.34rem;
  overflow: hidden;
}
.tengo-al-menos-container {
  position: absolute;
  top: 23.19rem;
  left: 5.13rem;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-anek-gurmukhi);
  text-align: left;
  display: inline-block;
  width: 22.75rem;
  height: 2.12rem;
}
.opciones1 {
  position: absolute;
  top: 23.19rem;
  left: 3.06rem;
  border-radius: var(--br-5xs);
  background-color: var(--fondo-formulario);
  width: 1.5rem;
  height: 1.34rem;
  overflow: hidden;
}
.rectangle,
.registrarse {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle {
  border-radius: var(--br-10xs);
  background-color: var(--primario);
  width: 9.56rem;
  height: 2.01rem;
}
.registrarse {
  font-size: var(--font-size-base);
  letter-spacing: 1.2px;
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--font-anek-gurmukhi);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 8.8rem;
  height: 0.89rem;
}
.rectangle-group,
.registrarse-wrapper {
  position: absolute;
  top: 0.73rem;
  left: 0.38rem;
  width: 8.8rem;
  height: 0.89rem;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 32.07rem;
  left: 12.44rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 9.56rem;
  height: 2.01rem;
}
.group-inner {
  border: 0;
  background-color: var(--fondo-formulario);
  position: absolute;
  top: 9.44rem;
  left: 3.06rem;
  border-radius: var(--br-8xs);
  width: 27.25rem;
  height: 2.35rem;
}
.nombre-de-usuario {
  position: absolute;
  top: 10.17rem;
  left: 3.81rem;
  font-size: var(--font-size-xl);
  font-family: var(--font-anek-gurmukhi);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 10.13rem;
  height: 1.34rem;
}
.rectangle-input {
  border: 0;
  background-color: var(--fondo-formulario);
  position: absolute;
  top: 12.85rem;
  left: 3.06rem;
  border-radius: var(--br-8xs);
  width: 27.25rem;
  height: 2.35rem;
}
.contrasea {
  position: absolute;
  top: 13.52rem;
  left: 3.81rem;
  font-size: var(--font-size-xl);
  font-family: var(--font-anek-gurmukhi);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 6rem;
  height: 1.34rem;
}
.group-child1,
.group-child2 {
  border: 0;
  background-color: var(--fondo-formulario);
  position: absolute;
  top: 16.15rem;
  left: 3.06rem;
  border-radius: var(--br-8xs);
  width: 27.25rem;
  height: 2.35rem;
}
.group-child2 {
  top: 19.44rem;
}
.repite-la-contrasea,
.select {
  position: absolute;
  top: 16.76rem;
  left: 3.81rem;
  font-size: 15px;
  font-family: var(--font-anek-gurmukhi);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 10.88rem;
  height: 1.34rem;
}
.select {
  top: 19.94rem;
  left: 3.56rem;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.38rem;
  height: 39.5rem;
}
.group-wrapper {
  position: relative;
  width: 33.38rem;
  height: 39.5rem;
}
.desktop-2-inner {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: center;
}
.desktop-2 {
  position: relative;
  width: 100%;
  height: 64rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  background-image: url(https://i.postimg.cc/1X54vpWV/5c7fa1bdd8f953dd4639a414da2639d2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--letras);
  font-family: var(--font-anek-gurmukhi);
}
