#logo {
  width: 55px;
}

.mm-wrapper {
  width: 89.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}


.regstrate {
  padding: 10px;
  font-size: var(--font-size-31xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--letras);
  display: flex;
  justify-content: center;

}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(44, 52, 64, 0.85);
  width: 33.38rem;
  height: 39.5rem;
}



.opciones {

  top: 27.25rem;
  left: 3.06rem;
  border-radius: var(--br-5xs);
  background-color: var(--fondo-formulario);
  width: 1.5rem;
  height: 1.34rem;
  overflow: hidden;
}

.tengo-al-menos-container {

  font-size: 17px;
}

.opciones1 {
  top: 23.19rem;
  left: 3.06rem;
  border-radius: var(--br-5xs);
  background-color: var(--fondo-formulario);
  width: 1.5rem;
  height: 1.34rem;
  overflow: hidden;
}

.rectangle,
.registrarse {
  position: absolute;
  top: 50px;
  left: 0;
}

.rectangle {
  border-radius: var(--br-10xs);
  background-color: var(--primario);
  width: 9.56rem;
  height: 2.01rem;
}

.cajas{
  display: flex;
    align-items: center;
}

.politica, .terminos{
  font-size: 10px;
}
.registrarse {
  font-size: var(--font-size-base);
  letter-spacing: 1.2px;
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--font-anek-gurmukhi);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 8.8rem;
  height: 0.89rem;
}

.profile-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group, .select, .acepto-la-poltica-container {
  margin-bottom: 20px;
  padding-left: 10%;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}


.form-group input::placeholder{
  font-family: "Anek Gurmukhi";

}

.rectangle-group,
.registrarse-wrapper {
  position: absolute;
  top: 0.73rem;
  left: 0.38rem;
  width: 8.8rem;
  height: 0.89rem;
}

.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 35.07rem;
  left: 12.44rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 9.56rem;
  height: 2.01rem;
}


.group-child2 {
  top: 19.44rem;
}


.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.38rem;
  height: 39.5rem;
}

.group-wrapper {
  position: relative;
  width: 33.38rem;
  height: 39.5rem;
}

.desktop-2-inner {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: center;
}

.desktop-2 {
  position: relative;
  width: 100%;
  height: 64rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  background-image: url(https://i.postimg.cc/1X54vpWV/5c7fa1bdd8f953dd4639a414da2639d2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--letras);
  font-family: var(--font-anek-gurmukhi);
}

.form-group label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}


.condiciones{
  padding-left: 43px;
    padding-right: 45px;
}
/* Estilos para los inputs del formulario */
.group-item,
.group-inner,
.rectangle-input,
.group-child1,
.select select
{
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select select{
  width: 35%;
}

/* Estilos para el contenedor de "Acepto la Política de Privacidad" */
.acepto-la-poltica-container {
  margin-bottom: 10px;
}

/* Estilos para el texto "Acepto la Política de Privacidad" */
.acepto-la {
  font-weight: bold;
}

/* Estilos para el contenedor de "Tengo al menos 16 años y acepto los Términos de Uso" */
.tengo-al-menos-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.registrarse-wrapper {
  font-weight: bold;
}

.registrarse {
  font-size: 18px;
}

/* Estilos para el mensaje de error */
.error-message {
  color: red;
  margin-top: 10px;
}
