body {
    background-image: url('https://acortar.link/Eugygl');
    background-repeat: no-repeat;
    background-size: cover;
}

nav a:nth-child(1) {
    color: white;
    margin: 0 5em 0 1em;
    font-size: 35px;
    font-family: 'Anek Gurmukhi', sans-serif;
    text-decoration: none;
}

b {
    color: white;
}

#login {
    display: flex;
    justify-content: center;
    padding-top: 100px;

}

p:nth-child(1n) {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
}

p:nth-child(2n) {
    color: #899AAB;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: white;

}


#form {
    display: flex;
    background-color: rgba(44, 52, 64, 0.85);
    max-width: 450px;
    width: 90%;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

#form input[type="text"] {
    background-color: #CCDDEE;
    width: 80%;
    height: 25px;
    border: none;
    margin-bottom: 10px;
    border-radius: 3px;
}


#form input::placeholder {
    font-family: 'Anek Gurmukhi', sans-serif;
}


#form button {
    display: flex;
    height: 45px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: #00C030;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 1em;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Anek Gurmukhi', sans-serif;
}

#form button:hover {
    background-color: white;
    color: black;
}

#form .checkbox-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 5%;

}

#form .checkbox-wrapper label {
    text-align: center;
}


#form .checkbox-wrapper div {
    margin-bottom: 10px;
}


#form #checkbox {
    margin-left: 20px;
}

#form label {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #899AAB;
    margin: 0;
}

#form p {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #899AAB;
    margin-top: 10px;
}

#form b p {
    color: white;
    font-family: 'Anek Gurmukhi', sans-serif;
    font-size: 45px;
}


button:hover {
    background-color: white;
    color: black;

}



@media only screen and (max-width: 600px) {
    body {
        background-size: auto;
    }

    p:nth-child(1n) {
        font-size: 30px;
    }

    p:nth-child(2n) {
        font-size: 10px;
    }

    form {
        width: 90%;
        height: 300px;
    }

    #email,
    #passwd {
        width: 90%;
        height: 12%;
    }

    button {
        width: 120px;
        font-size: 16px;
        margin: 0.5em;
    }
}